<div class="masthead clearfix">
  <div class="inner">
    <h1 class="masthead-brand"><%=link_to "Jake Day", root_path %></h1>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
