<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "jakeday.jpg", width: 300, alt: "profile image", class: "profile-img" %>
      </div>

      <div class="col-md-8">
        <p>This is where I talk about my history.</p>
        <p>Lorem ipsum dolor sit amet, ferri animal probatus cu per. Vidit nihil munere has in. Nec democritum definitiones an, vulputate intellegat at nec. Per tempor persecuti voluptatibus ut, duis veniam facilisis ut per.</p>
        <p>Eu per pericula petentium ocurreret, brute diceret vis ut. Ne has noster albucius liberavisse, ius dicit delenit nominavi te. Id dolores erroribus vim, id usu ludus referrentur, posse impedit his no. Quando iriure tincidunt nam ea. Sed ex fierent lucilius iudicabit.</p>
      </div>
    </div>

  </dvi>
</div>
