<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "jakeday.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>This is where I talk about my history.</p>
    <p>More stuff about me. Technical things about me.</p>
  </div>
</div>
