<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>370 300 E, Salt Lake City, UT 84111</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "4356716972" %></p>

        <h3>Email</h3>

        <p><a href="mailto:jake@wildacademy.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe width="450" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=church+and+state&key=<%=ENV.fetch('GOOGLE_MAPS_KEY')%>" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
